<html>
<head>
	<title>SpaceCats!</title>
  	<% puts request.inspect %>
</head>
<body>
	  <%= yield %>
	  <br>
	  <a href="/">Home</a>
	  <br>
	  <a href="/spacecats/new">New Space Cat</a>
</body>
</html>